DB_URL=
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=
AUTH_REFRESH_COOKIE_SECURE=
AUTH_REFRESH_COOKIE_SAME_SITE=
CORS_ALLOWED_ORIGINS=

AWS_S3_BUCKET_RAW=
AWS_S3_BUCKET_HLS=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_MEDIACONVERT_ROLE_ARN=
AWS_SQS_VIDEO_EVENTS_QUEUE_URL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MAIL_USERNAME=
MAIL_PASSWORD=

MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
MOMO_BASE_URL=
MOMO_RETURN_URL=
MOMO_NOTIFY_URL=

GOOGLE_GENAI_API_KEY=

QDRANT_URL=
QDRANT_API_KEY=
