
.profile-page {
  min-height: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.profile-main {
  flex: 1 0 auto;
  background-color: #f8f9fa;
  position: relative;
}

.profile-main > .back-button {
  position: absolute;
  top: var(--spacing-xl);
  left: var(--spacing-xl);
  z-index: 1;
}

@media (max-width: 767px) {
  .profile-main > .back-button {
    position: static;
    margin: var(--spacing-md) 0 0 var(--spacing-md);
  }
}
